.footer{
    background: #e9ecf0;

    .top{
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding: 30px 0;
        }
    }

    .navigation{
        &-title{
            font-size: 24px;
            font-weight: 600;
            margin: 0 0 35px 0;
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 35px;
                @media screen and (max-width: 767px) {
                    margin-bottom: 20px;
                }
                a{
                    font-size: 18px;
                }
            }
        }
    }

    .footer-form{
        width: 100%;
        max-width: 360px;
        @media screen and (max-width: 991px) {
           max-width: 100%;
        }
        
        &-title{
            margin: 0;
            font-family: $montserrat;
            font-size: 18px;
            font-weight: 600;
        }

        .form-title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 35px;
        }

        .button{
            margin-top: 20px;
        }

        .social-list{
            margin-top: 50px;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin: 0 10px;
            }
        }
    }

    .bottom{
        padding: 35px 0;
        background: #d9dce1;
    }

    .copy{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
}