.banner{
    background: url(../img/bg_banner.jpg) 0px 0px no-repeat;
    background-size: 100% 99%;
    padding: 100px 0;
    min-height: 672px;
    position: relative;
    @media screen and (max-width: 991px) {
        background-size: cover;
        background-position: right;
    }
    @media screen and (max-width: 767px) {
        padding-top: 30px;
        min-height: auto;
     }
     .slick-slider{
         position: static;
         .slick-list{
            position: static;
            overflow: inherit;
            .slick-track{
                position: static;
                
            }
         }
     }
    .slider-banner{
        @media screen and (max-width: 991px) {
            padding-bottom: 60px;
        }
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            @media screen and (max-width: 991px) {
                flex-direction: column;
             }
            .text-blc{
                padding: 0 20px 0 0;
                min-width: 720px;
                @media screen and (max-width: 1199px) {
                    min-width: 500px;
                 }
                @media screen and (max-width: 767px) {
                   padding: 0;
                   min-width: auto;
                }
            }

            .title{
                font-size: 56px;
                margin: 30px 0 0 0;
                font-family: $fontOxy;
                @media screen and (max-width: 1199px) {
                    font-size: 40px;
                    margin-top: 20px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 24px;
                }
            }

            .text{
                font-size: 24px;
                margin: 30px 0 0 0;
                @media screen and (max-width: 1199px) {
                    font-size: 18px;
                    margin-top: 20px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    br{
                        display: none;
                    }
                }
            }

            .button{
                margin-top: 30px;
            }


            .img-blc{
                /* position: absolute;
                top: 0;
                right: -34%; 
                left: 58%;*/
                transform: translateX(-8%);
                @media screen and (max-width: 1199px) {
                    transform: translateX(-1%);
                }
                @media screen and (max-width: 991px) {
                    transform: none;
                 }
                img{
                    @media screen and (max-width: 991px) {
                        width: 100%;
                        height: auto;
                        margin: 0 0 0 10%;
                    }
                    
                }
            }

        }

        .slick-arrow{
            position: absolute;
            top: calc(50% - 29px);
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background: #294bde;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 2;
            @media screen and (max-width: 991px) {
                top: 100%;
            }
            &:hover{
                background: $primary-color-dark;
            }
            
            &.arrow-prev{
                left: -95px;
                @media screen and (max-width: 991px) {
                    left: 0;
                }
                svg{
                    margin: 0 8px 0 0;
                }
                
            }
            &.arrow-next{
                right: -95px;
                @media screen and (max-width: 991px) {
                    right: 0;
                }
                svg{
                    margin: 0 0 0 8px;
                }
            }
            &.slick-disabled{
                background: #879bf4;
            }
        }


        .slick-dots{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            position: absolute;
            bottom: 93px;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 991px) {
                padding: 0 70px;
            }

            button{
                width: 14px;
                height: 16px;
                background: transparent;
                border-radius: 50%;
                border: none;
                font-size: 0;
                border: 2px solid #fff;
                //box-shadow: 0px 0px 5px rgba(0,0,0, .2);
                cursor: pointer;
            }

            li{
                margin: 0 8px;
            }
            .slick-active{
                button{
                    background: #fff;
                }
            }
        }
        
    }

}